<h2>LocalJolt</h2>

<form action="/" method="POST">
    <label for="location">Enter A Location</label>
    <div>
        <input id="location" type="text" name="location" placeholder="location">
    </div>
    <button>Submit</button>
</form>